 .logo {
    height: 32px;
    margin: 16px;
    background: #fff;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .text-red {
    color: #FF0000;
    margin-right: 10px;
  }

  .text-right {
    text-align: right;
  }

  .margin20 {
    margin: 20px;
  }

  .padding20 {
    padding: 20px;
  }

  .title-page {
    text-transform: uppercase;
    font-weight: bold;
    color: #FF0000;
    font-size: 28px;
  }

  .text-color-red {
    color: #FF0000;
  }

  .title-content {
    font-size: 10px;
  }

  .text-content {
    font-size: 10px;
    font-weight: bold;
  }

  .text-grey {
    color: #808080;
  }

  .text-wrapper {
    word-wrap: break-word;
    margin-bottom: 15px;
  }